# standard ignore
*config*
*conf*

.github/
.gitignore
eslint.config.mjs
.stylelintrc

coverage/
docs/
scripts/
test/
demo/**/*.css
demo/**/*.scss
demo/**/*.html
demo/**/*.md

dist/es5.js

index.html

# ignore src
src/**/*.scss
src/**/*.css

apiExamples/
build/
docTemplates/
index/

LICENSE
NOTICE
