.anchorNavWithContentContainer {
  display: flex;
  flex-direction: row;
}

.anchorNavWithContentContainer > * {
  flex: 1;
}

.anchorNavContentContainer {
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: solid 1px;
  position: relative;
  padding: 10px;
}

.contentWrapper {
  margin-right: 100px;
}
