/* stylelint-disable */

@import "./../node_modules/@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables";
@import "./../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska";

:host {
  --ds-auro-anchornav-label-color: var(--ds-basic-color-texticon-muted, #{$ds-basic-color-texticon-muted});
  --ds-auro-anchornav-mobile-background-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.00874633) 6.67%, rgba(255, 255, 255, 0.0356065) 13.33%, rgba(255, 255, 255, 0.0817517) 20%, rgba(255, 255, 255, 0.147497) 26.67%, rgba(255, 255, 255, 0.231852) 33.33%, rgba(255, 255, 255, 0.331951) 40%, rgba(255, 255, 255, 0.442747) 46.67%, rgba(255, 255, 255, 0.557353) 53.33%, rgba(255, 255, 255, 0.668149) 60%, rgba(255, 255, 255, 0.768248) 66.67%, rgba(255, 255, 255, 0.852603) 73.33%, rgba(255, 255, 255, 0.918348) 80%, rgba(255, 255, 255, 0.964494) 86.67%, rgba(255, 255, 255, 0.991354) 93.33%, #FFFFFF 100%);
  --ds-auro-anchornav-selected-marker-color: var(--ds-basic-color-border-bold, #{$ds-basic-color-border-bold});
  --ds-auro-anchorlink-border-color: transparent;
  --ds-auro-anchorlink-default-marker-color: var(--ds-basic-color-border-subtle, #{$ds-basic-color-border-subtle});
  --ds-auro-anchorlink-text-color: var(--ds-basic-color-texticon-muted, #{$ds-basic-color-texticon-muted});
  --ds-auro-anchorlink-text-hover-color: var(--ds-basic-color-texticon-default, #{$ds-basic-color-texticon-default});
  --ds-auro-breadcrumb-chevron-color: var(--ds-basic-color-texticon-muted, #{$ds-basic-color-texticon-muted});
  --ds-auro-breadcrumb-icon-color: var(--ds-advanced-color-hyperlink-text, #{$ds-advanced-color-hyperlink-text});
  --ds-auro-breadcrumb-last-link-text-color: var(--ds-basic-color-texticon-muted, #{$ds-basic-color-texticon-muted});
}
